
body {
    margin: 0;
    background-color: rgb(182, 107, 182);
    font-family: "roboto", sans-serif;
    font-weight: 400;
    color: #ffff;
    height: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0, auto;
}

#container > div {
    height: auto;
    flex-basis: 345px;
    align-items: center;
}

/* NavBar Css */
#nav-bar {
    font-size: 18px;
    color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list ul {
    display: flex;
    list-style: none;
    gap: 15px;
    justify-content: center;
}
.nav-logo {
    margin-left: 50px;
}

#nav-bar div {
    flex: 1;
}

#hero-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero-text {
    width: 400px;
    text-align: left;
}

.hero-para {
    font-size: 18px;
    line-height: 1.3;
    
}

#hero-section img {
    margin-top: 12px;
}

/* div.hero-button {
    text-align: center;

} */

.hero-button ,.info-button  {
    padding: 4px 15px;
    font-size: 17px;
    border: 2px solid #ffff;
    background-color: rgb(182, 107, 182);
    color: #ffff;
    border-radius: 4px;
}
#info-container,#sign-up-container{
   background-color: white;
    width: 100%;
    display:flex ;
    flex-wrap: wrap;
    justify-content: center;

}
#info-section {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    width: 90%;
    
 
}
.info-header{
    font-weight:bold;
    color: rgb(182, 107, 182);
    text-align: center;
    text-decoration: underline;
    padding-bottom:10px;
    width: 100%;
}
.info-row{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    flex-basis:175px;
    
}
.info-para{
    width:auto;
    color:grey;
    text-align: center;
}

.info-image {
    height: 150px;
    width: 150px;
    border: 4px solid rgb(182, 107, 182);
    border-radius: 5px;
}
#inspiration-section{
    background-color: rgb(191, 183, 183);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.quote,.author{
    color:#1F2937;
    
}
.quote{
    opacity: 80%;
    font-size: 36px;
    font-style: italic;
    width:80%;
    text-align: center;
    margin-bottom: 2px;
}
.author{
    margin-left:25%
    ;
    padding-top: 2px;
}
.sign-up-card{
    background-color: rgb(186, 109, 186);
    width: 75%;
    height:45%;
    border-radius:10px;
    line-height: 0%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    
}
footer{
    text-align: ;
}